pyannote.audio==3.1.1
transformers
accelerate
torch
torchaudio
fastapi
uvicorn
pydantic
python-dotenv
jinja2
python-multipart
pydub
ffmpeg-python
transformers
modelscope
accelerate
soundfile
numpy
openai
matplotlib
requests
